:root {
  --shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, .25));
  --txt-color-dark-1: #333;
  --txt-color-dark-2: #444;
  --txt-color-dark-3: #555;
  --txt-color-light-1: #eee;
  --bg-color-1: hsl(190, 75%, 40%);
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1200px;
}

h1 {
  font-size: 3rem;
}

body {
  margin: 0;
}

section {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* - - - - - about section - - - - - */

.about {
  position: relative;
  padding: 100px 0;
}
.about::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 300%;
  width: 150vmax;
  background-color: var(--bg-color-1);
  z-index: -1;
  transform: translate(-50%, -10%) rotate(-16deg);
  transform-origin: 50% 100%;
  filter: var(--shadow);
}

.about .wrapper {
  background-color: hsl(0, 0%, 95%);
  height: 400px;
  filter: var(--shadow);
  padding: 0 1rem;
  text-align: justify;
}

.about figure {
  display: flex;
  width: 350px;
  height: 400px;
  float:left;
  transform: scale(120%) translateX(-1.5rem);
  filter: var(--shadow);
}

.about picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about figcaption {
  position: absolute;
  color: var(--txt-color-light-1);
  bottom: 0;
  left: 0;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.about h1 {
  color: var(--txt-color-dark-1);
}

.about p {
  font-size: 1.5rem;
  color: var(--txt-color-dark-2);
}

.icons {
  display: gr;
  float: right;
  gap: 1rem;
}

.icons a {
  text-decoration: none;
}

.icons img {
  width: 48px;
}

/*  - - - - - work section - - - - - */

.work h1 {
  width: 100%;
  text-align: start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-areas:
    "img img"
    "title icons"
    "descr descr";
  gap: 8px;
  width: 350px;
  height: 400px;
  background-color: hsl(0, 0%, 95%);
  filter: var(--shadow);
}

.card-img {
  --transition: 300ms;
  overflow: hidden;
  position: relative;
  grid-area: img;
  height: 250px;
  background-image: url(./media/images/dev-645-605.jpg);
  background-size: 105%;
  background-position: center;
  transition: background-size var(--transition) ease-out;
}
.card-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    35deg,
    transparent 65%,
    rgba(255, 255, 255, .1) 70%,
    rgba(255, 255, 255, .35) 90%
  );
  transform: translate(30px, -30px);
  transition: transform var(--transition) ease-out;
}

.card:hover .card-img {
  background-size: 100%;
}
.card:hover .card-img::after {
  transform: translate(0, 0);
}

.card h2 {
  grid-area: title;
  margin: 0 16px;
  color: var(--txt-color-dark-2);
}

.card .icons {
  padding: 0 16px 0 0;
}

.card .icons img {
  grid-area: icons;
  width: 32px;
}

.card p {
  grid-area: descr;
  margin: 0 16px;
  font-size: 1.1rem;
  color: var(--txt-color-dark-3);
}

/*  - - - - - contact section - - - - - */

.contact {
  position: relative;
  isolation: isolate;
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "info img";
  color: var(--txt-color-light-1);
}
.contact::after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: var(--bg-color-1);
}

.contact picture {
  grid-area: img;
}

.contact picture img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.contact-info {
  grid-area: info;
  padding: 0;
  padding-right: 4rem;
}

.contact-info h2 {
  font-size: 2.5rem;
  margin: 0;
}

.contact-info p {
  font-size: 1.25rem;
}

.txt-group {
  margin: 2.25rem 0;
}
.txt-group p {
  margin: 0;
}
.number-email p {
  margin: .5rem 0;
}

.contact-info .icons {
  float: none;
}