:root {
  --shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, .25));
  --txt-color-dark-1: #333;
  --txt-color-dark-2: #444;
  --txt-color-light-1: #eee;
  --bg-color-1: hsl(190, 75%, 40%);
}

body {
  margin: 0;
}

section {
  isolation: isolate;
  display: flex;
  /* outline: 2px solid rgba(255, 0, 0, .1); */
  justify-content: center;
}

.about {
  position: relative;
  padding: 100px 0;
}
.about::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 300%;
  width: 150vmax;
  background-color: var(--bg-color-1);
  z-index: -1;
  transform: translate(-50%, -10%) rotate(-16deg);
  transform-origin: 50% 100%;
  filter: var(--shadow);
}

.about .wrapper {
  background-color: hsl(0, 0%, 95%);
  width: 1200px;
  height: 400px;
  filter: var(--shadow);
  padding: 0 1rem;
  text-align: justify;
}

.about figure {
  display: flex;
  width: 350px;
  height: 400px;
  float:left;
  transform: scale(120%) translateX(-1.5rem);
  filter: var(--shadow);
}

.about picture {
  width: 100%;
  position: relative;
}

.about picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about figcaption {
  position: absolute;
  color: var(--txt-color-light-1);
  bottom: 0;
  left: 0;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.about h1 {
  font-size: 3rem;
  color: var(--txt-color-dark-1);
}

.about p {
  font-size: 1.5rem;
  color: var(--txt-color-dark-2);
}

.icons {
  display: gr;
  float: right;
  gap: 1rem;
}

.icons a {
  text-decoration: none;
}

.icons img {
  width: 48px;
}
